body.landing-page.reference {
  text-align: center;
}

body.landing-page.reference * {
  margin: 0 auto;
  display: inline-block;
}

.landing-page.reference {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-very-low);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625em 1.25em;
    background-color: var(--secondary);
    border-bottom: 1px solid var(--primary-low);
  }

  .logo {
    height: 3.125em;
    margin-right: 0.625em;
  }

  .header-left,
  .header-right {
    display: flex;
    align-items: center;
  }

  .header-left {
    img {
      height: 2.5em;
      margin-right: 0.625em;
    }

    a {
      text-decoration: none;
      color: var(--tertiary);
      font-weight: bold;
    }
  }

  .header-right {
    a {
      text-decoration: none;
      color: var(--primary);
      margin-left: 1.25em;
    }

    img {
      height: 1.875em;
      border-radius: 50%;
    }
  }

  .content {
    padding: 1.25em;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0.625em 0;
  }

  a {
    text-decoration: none;
    color: var(--tertiary);

    &:hover {
      text-decoration: underline;
    }
  }
}